*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav{
    width: 1349px;
    height: 150px;
    background-color: #242B33;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
}

nav img{
    width: 134px;
    height: 66px;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    width: 541px;
    height: 66px;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

header{
    background-image: url(./images/picture1.jpg);
    background-repeat: no-repeat;
    width: 1349px;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1{
    color: #D4C17F;
    width: 556px;
    height: 109px;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;  
    font-weight: 700;
    line-height: 64px;
    margin-top: 146px;
    margin-bottom: 100px;
}

header img{
    height: 40px;
    width: 40px;
}

.p-text{
    display: flex;
    width: 608px;
    justify-content: space-between;
    color: #fff;
    margin-top: 200px;
}

.p1{
    width: 254px;
    height: 21px;
    display: flex;
    gap: 15px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.p1 img{
    width: 21px;
    height: 21px;
}

.box{
    height: 420px;
    width: 1349px;
    border: 1px solid #242B33;
    background-color: #242B33;
}

.boxs{
    width: 987px;
    height: 180px;
    margin: 120px auto;   
    display: flex;
    gap: 70px; 
}

.box_s{
    display: flex;
    flex-direction: column;
    width: 193px;
    height: 180px;
    gap: 53px;
}

.box_s img{
    width: 80px;
    height: 80px;
    margin: 0px auto;
}

.box_s p{
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    width: 193px;
    text-align: center;
}

.box2{
    width: 1349px;
    height: 806px;
    background-color: #242B33 ;
    font-family: sans-serif;
}

.box2 h2{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.boxs2{
    width: 1100px;
    height: 100%;
    margin: 0px auto;
    color: #D4C17F;
    display: flex;
    flex-direction: column;
    gap: 92px;
}

.bg-box{
    background-image: url(./images/img1.jpg);
    width: 535px;
    height: 320px;
    color: #FFFFFF;
    padding: 248px 132px 50px 50px;
}

.bg-box2{
    background-image: url(./images/img2.jpg);
    width: 535px;
    height: 320px;
    color: #FFFFFF;
    padding: 248px 132px 50px 50px;
}

.box2 h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.bg-boxs{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.box3{
    background-image: url(./images/picture2.jpg);
    width: 1349px;
    height: 560px;
    display: flex;
    flex-direction: column;
}

.box3 h2{
    color: #D4C17F;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    margin: 180px 0px 50px 150px;
}

.boxs_3{
    display: flex;
    gap: 35px;
    margin-left: 150px;
}

.boxs_3 p{
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 535px;
}

.inputs_3{
    width: 540px;
    height: 135px;
}

.inputs_3 form{
    gap: 30px;
    display: flex;
    flex-flow: row wrap;
}

.inputs_3 input{
    width: 253px;
    height: 50px;
    color:   #BEBEBE;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    padding: 12px 0px 11px 80px;
    background-color: #bebebe3b;
    border: none;
}

.inputs_3 p{
    width: 253px;
    height: 50px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color:  #E7E7E7;
}

.inputs_3  button{
    width: 253px;
    height: 50px;
    background-color: #D4C17F;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
}

.video{
    height: 830px;
    width: 1349px;
    background-color: #242B33;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    width: 600px;
    height: 500px;
}

.box4{
    height: 990px;
    width: 1349px;
    background-color: #242B33;
}

.m4-box{
    width: 1110px;
    height: 494px;
    margin: 0px auto;
    color: #D4C17F;
    font-family: sans-serif ;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.boxx{
    width: 1110px;
    height: 358px;
    background-color: #626262;
    margin-top: 100px;
}

.m5-box{
    margin: 180px auto;
    width: 1115px;
    height: 136px;
}

.m5-box h4{
    font-family: sans-serif ;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    color: #D4C17F;
}

.inputs_4 form{
    gap: 30px;
    display: flex;
    margin-top: 35px;
}

.inputs_4 p{
    width: 255px;
    height: 28px;
    font-family: sans-serif;
    font-size: 13px; 
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 11px;
}

.inputs_4 input{
    width: 253px;
    height: 50px;
    color:   #BEBEBE;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    padding: 12px 0px 11px 80px;
    background-color: #bebebe3b;
    border: none;
}

.inputs_4 button{
    width: 253px;
    height: 50px;
    background-color: #D4C17F;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
}

footer{
    width: 1349px;
    height: 272px;
    background-color:#2D343C  ;
    display: flex;
    gap: 166px;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 134px;
    height: 66px;
}

.footer1{
    width: 119px;
    height: 140px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
    font-size: 14px;  
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.f-end{
    width: 239px;
    height: 149px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.f-end span{
    color: #D4C17F ;
}

.logos{
    display: flex;
    gap: 20px;
}